flows.json
[{"id":"cb968ed4083f57d6","type":"tab","label":"13 Colonies","disabled":false,"info":"","env":[]},{"id":"59acc935a3d00f44","type":"junction","z":"cb968ed4083f57d6","x":2020,"y":1220,"wires":[["befeebdd9bdb605f","f0d72c1dc537befe","722cd890be143c10","3bd4eeb9795ea12c","c574034b58794b9b","3fb47aa8b08375fd","b77e36c8177bfe69","bb38b5fc0d5a7ae2","8793529187e37dca","e660def3cfb7554e","a52cbd564f14602d","22144e992038a6f6","e52d162e3bf7f3c6","ae32e3aad8bd0458","d21d50318e303269","8f31f7725bcbb983","deacbc1b2c2d4aad","7e9ef7ff0b0d6e93","5eb0246a6cdcb2c1","84e58251cc151bc6","58f5c6a410d018fe","e86a51243c933914","a0785a468cd8bb71","34ec218ece5a3a82","f251a5024005977f","02d35101a2c4aca6","7d0fc058ba351db6","f3f7eb417ed7fc74","0def3a57a034c461","e45fbd2fea59ab16","8e23b004baeed4e1","d3f2b28439501881","97fe5a77cf5f0244","d5abd6a0d177280c","f6139ac9511643d7","d17ef641e002de4c","8e5aa96ce744f5f7","9c99e72e55e4ec93","8f5d6845ad42d471","8dc0d3789027a3bc","2ab10855a08eb66d","1b1640957aa932ba","09dfed34cb198919","6174c50a4c69a315","d46be6e487f79a52","f04668abab486d04","d4b1da05250bb54c","c4b25e773bf5f8a1"]]},{"id":"deacbc1b2c2d4aad","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":3,"width":4,"height":2,"name":"K2A CW","label":"<font size = 6> <bold>K2A<font size = 5>/NY","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":920,"wires":[]},{"id":"7e9ef7ff0b0d6e93","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":5,"width":4,"height":2,"name":"K2B CW","label":"<font size = 6> <bold>K2B<font size = 5>/VA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":960,"wires":[]},{"id":"5eb0246a6cdcb2c1","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":7,"width":4,"height":2,"name":"K2C CW","label":"<font size = 6> <bold>K2C<font size = 5>/RI","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1000,"wires":[]},{"id":"84e58251cc151bc6","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":9,"width":4,"height":2,"name":"K2D CW","label":"<font size = 6> <bold>K2D<font size = 5>/CT","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1040,"wires":[]},{"id":"58f5c6a410d018fe","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":11,"width":4,"height":2,"name":"K2E CW","label":"<font size = 6> <bold>K2E<font size = 5>/DE","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1080,"wires":[]},{"id":"e86a51243c933914","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":13,"width":4,"height":2,"name":"K2F CW","label":"<font size = 6> <bold>K2F<font size = 5>/MD","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1120,"wires":[]},{"id":"a0785a468cd8bb71","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":15,"width":4,"height":2,"name":"K2G CW","label":"<font size = 6> <bold>K2G<font size = 5>/GA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1160,"wires":[]},{"id":"34ec218ece5a3a82","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":4,"width":4,"height":2,"name":"K2H CW","label":"<font size = 6> <bold>K2H<font size = 5>/MA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1200,"wires":[]},{"id":"f251a5024005977f","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":6,"width":4,"height":2,"name":"K2I CW","label":"<font size = 6> <bold>K2I<font size = 5>/NJ","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1240,"wires":[]},{"id":"02d35101a2c4aca6","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":8,"width":4,"height":2,"name":"K2J CW","label":"<font size = 6> <bold>K2J<font size = 5>/NC","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1280,"wires":[]},{"id":"7d0fc058ba351db6","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":10,"width":4,"height":2,"name":"K2K CW","label":"<font size = 6> <bold>K2K<font size = 5>/NH","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1320,"wires":[]},{"id":"f3f7eb417ed7fc74","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":12,"width":4,"height":2,"name":"K2L CW","label":"<font size = 6> <bold>K2L<font size = 5>/SC","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1360,"wires":[]},{"id":"0def3a57a034c461","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":14,"width":4,"height":2,"name":"K2M CW","label":"<font size = 6> <bold>K2M<font size = 5>/PA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1400,"wires":[]},{"id":"722cd890be143c10","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":3,"width":4,"height":2,"name":"K2A SSB","label":"<font size = 6> <bold> K2A<font size = 5>/NY","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":240,"wires":[]},{"id":"f0d72c1dc537befe","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":5,"width":4,"height":2,"name":"K2B SSB","label":"<font size = 6> <bold>K2B<font size = 5>/VA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":280,"wires":[]},{"id":"befeebdd9bdb605f","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":7,"width":4,"height":2,"name":"K2C SSB","label":"<font size = 6> <bold>K2C<font size = 5>/RI","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":320,"wires":[]},{"id":"8f31f7725bcbb983","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":9,"width":4,"height":2,"name":"K2D SSB","label":"<font size = 6> <bold>K2D<font size = 5>/CT","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":360,"wires":[]},{"id":"3bd4eeb9795ea12c","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":11,"width":4,"height":2,"name":"K2E SSB","label":"<font size = 6> <bold>K2E<font size = 5>/DE","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":400,"wires":[]},{"id":"c574034b58794b9b","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":13,"width":4,"height":2,"name":"K2F SSB","label":"<font size = 6> <bold>K2F<font size = 5>/MD","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":440,"wires":[]},{"id":"3fb47aa8b08375fd","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":15,"width":4,"height":2,"name":"K2G SSB","label":"<font size = 6> <bold>K2G<font size = 5>/GA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":480,"wires":[]},{"id":"b77e36c8177bfe69","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":4,"width":4,"height":2,"name":"K2H SSB","label":"<font size = 6> <bold>K2H<font size = 5>/MA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":520,"wires":[]},{"id":"bb38b5fc0d5a7ae2","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":6,"width":4,"height":2,"name":"K2I SSB","label":"<font size = 6> <bold>K2I<font size = 5>/NJ","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":560,"wires":[]},{"id":"8793529187e37dca","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":8,"width":4,"height":2,"name":"K2J  SSB","label":"<font size = 6> <bold>K2J<font size = 5>/NC","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":600,"wires":[]},{"id":"e660def3cfb7554e","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":10,"width":4,"height":2,"name":"K2K SSB","label":"<font size = 6> <bold>K2K<font size = 5>/NH","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":640,"wires":[]},{"id":"d21d50318e303269","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":12,"width":4,"height":2,"name":"K2L SSB","label":"<font size = 6> <bold>K2L<font size = 5>/SC","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":680,"wires":[]},{"id":"a52cbd564f14602d","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":14,"width":4,"height":2,"name":"K2M SSB","label":"<font size = 6> <bold>K2M<font size = 5>/PA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":720,"wires":[]},{"id":"97fe5a77cf5f0244","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":3,"width":4,"height":2,"name":"K2A Digital","label":"<font size = 6> <bold>K2A<font size = 5>/NY","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1600,"wires":[]},{"id":"d5abd6a0d177280c","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":5,"width":4,"height":2,"name":"K2B Digital","label":"<font size = 6> <bold>K2B<font size = 5>/VA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1640,"wires":[]},{"id":"f6139ac9511643d7","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":7,"width":4,"height":2,"name":"K2C Digital","label":"<font size = 6> <bold>K2C<font size = 5>/RI","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1680,"wires":[]},{"id":"d17ef641e002de4c","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":9,"width":4,"height":2,"name":"K2D Digital","label":"<font size = 6> <bold>K2D<font size = 5>/CT","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1720,"wires":[]},{"id":"8e5aa96ce744f5f7","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":11,"width":4,"height":2,"name":"K2E Digital","label":"<font size = 6> <bold>K2E<font size = 5>/DE","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1760,"wires":[]},{"id":"9c99e72e55e4ec93","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":13,"width":4,"height":2,"name":"K2F Digital","label":"<font size = 6> <bold>K2F<font size = 5>/MD","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1800,"wires":[]},{"id":"8f5d6845ad42d471","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":15,"width":4,"height":2,"name":"K2G Digital","label":"<font size = 6> <bold>K2G<font size = 5>/GA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1840,"wires":[]},{"id":"8dc0d3789027a3bc","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":4,"width":4,"height":2,"name":"K2H Digital","label":"<font size = 6> <bold>K2H<font size = 5>/MA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1880,"wires":[]},{"id":"2ab10855a08eb66d","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":6,"width":4,"height":2,"name":"K2I Digital","label":"<font size = 6> <bold>K2I<font size = 5>/NJ","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1920,"wires":[]},{"id":"1b1640957aa932ba","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":8,"width":4,"height":2,"name":"K2J Digital","label":"<font size = 6> <bold>K2J<font size = 5>/NC","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":1960,"wires":[]},{"id":"09dfed34cb198919","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":10,"width":4,"height":2,"name":"K2K Digital","label":"<font size = 6> <bold>K2K<font size = 5>/NH","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":2000,"wires":[]},{"id":"6174c50a4c69a315","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":12,"width":4,"height":2,"name":"K2L Digital","label":"<font size = 6> <bold>K2L<font size = 5>/SC","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":2040,"wires":[]},{"id":"d46be6e487f79a52","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":14,"width":4,"height":2,"name":"K2M Digital","label":"<font size = 6> <bold>K2M<font size = 5>/PA","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":2080,"wires":[]},{"id":"f5e8a8f831d15e8f","type":"ui_dropdown","z":"cb968ed4083f57d6","name":"13 Colony","label":"13 Colony","tooltip":"","place":"Select option","group":"ba324d1f5871753f","order":2,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"K2A","value":"k2a","type":"str"},{"label":"K2B","value":"k2b","type":"str"},{"label":"K2C","value":"k2c","type":"str"},{"label":"K2D","value":"k2d","type":"str"},{"label":"K2E","value":"k2e","type":"str"},{"label":"K2F","value":"k2f","type":"str"},{"label":"K2G","value":"k2g","type":"str"},{"label":"K2H","value":"k2h","type":"str"},{"label":"K2I","value":"k2i","type":"str"},{"label":"K2J","value":"k2j","type":"str"},{"label":"K2K","value":"k2k","type":"str"},{"label":"K2L","value":"k2l","type":"str"},{"label":"K2M","value":"k2m","type":"str"},{"label":"WM3PEN","value":"wm3pen","type":"str"},{"label":"GB13COL","value":"gb13col","type":"str"},{"label":"TB13COL","value":"tm13col","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":580,"y":80,"wires":[["85d6ac3bdb542731"]]},{"id":"7269c2134a05a8de","type":"ui_dropdown","z":"cb968ed4083f57d6","name":"Mode","label":"Mode","tooltip":"","place":"Select option","group":"ba324d1f5871753f","order":4,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"CW","value":"cw","type":"str"},{"label":"SSB","value":"ssb","type":"str"},{"label":"Digital","value":"digital","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":550,"y":200,"wires":[["df5d9065c5f3a76b"]]},{"id":"b7c9fdf678927386","type":"ui_text","z":"cb968ed4083f57d6","group":"ba324d1f5871753f","order":5,"width":6,"height":1,"name":"GMT Date","label":"GMT Date","format":"{{msg.payload}}","layout":"row-spread","className":"","x":810,"y":40,"wires":[]},{"id":"3a1b7707e45185c3","type":"ui_button","z":"cb968ed4083f57d6","name":"Button Log QSO","group":"ba324d1f5871753f","order":6,"width":6,"height":1,"passthru":false,"label":"Log 13 Colony QSO","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":160,"y":140,"wires":[["dfbb6dd9882f2ec6","b59b14b601a180a1","75ce1108c085f6da"]]},{"id":"2027038fa1a3f150","type":"inject","z":"cb968ed4083f57d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":40,"wires":[["fcf775a17de46262"]]},{"id":"fcf775a17de46262","type":"moment","z":"cb968ed4083f57d6","name":"","topic":"","input":"payload","inputType":"msg","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MM DD YYYY HH:mm:ss","locale":"en-GB","output":"payload","outputType":"msg","outTz":"ETC/UTC","x":600,"y":40,"wires":[["b7c9fdf678927386"]]},{"id":"ac65476cb587a1e7","type":"ui_dropdown","z":"cb968ed4083f57d6","name":"Band","label":"Band","tooltip":"","place":"Select option","group":"ba324d1f5871753f","order":3,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"6M","value":"6M","type":"str"},{"label":"10M","value":"10M","type":"str"},{"label":"12M","value":"12M","type":"str"},{"label":"15M","value":"15M","type":"str"},{"label":"17M","value":"17M","type":"str"},{"label":"20M","value":"20M","type":"str"},{"label":"30M","value":"30M","type":"str"},{"label":"40M","value":"40M","type":"str"},{"label":"60M","value":"60M","type":"str"},{"label":"80M","value":"80M","type":"str"},{"label":"160M","value":"160M","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":570,"y":140,"wires":[["9866a0aab9184e33"]]},{"id":"cbb1d5b48fd25c24","type":"sqlite","z":"cb968ed4083f57d6","mydb":"ba326129284be148","sqlquery":"msg.topic","sql":"","name":"","x":1290,"y":160,"wires":[["7f15e45130d5a6d2"]]},{"id":"5d1680162392def5","type":"template","z":"cb968ed4083f57d6","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into qsos (call,band,mode,timestamp) values ('{{call}}','{{band}}','{{mode}}',(DateTime('now')));\n\n\n","output":"str","x":1140,"y":160,"wires":[["cbb1d5b48fd25c24"]]},{"id":"a327aa06a9897fa7","type":"sqlite","z":"cb968ed4083f57d6","mydb":"ba326129284be148","sqlquery":"msg.topic","sql":"","name":"","x":610,"y":460,"wires":[["01dfb4bffb23b635"]]},{"id":"8a00761baac11e4c","type":"template","z":"cb968ed4083f57d6","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from qsos where mode='ssb';","output":"str","x":390,"y":460,"wires":[["a327aa06a9897fa7"]]},{"id":"5e12e59d57cf6293","type":"inject","z":"cb968ed4083f57d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1040,"wires":[["8a00761baac11e4c","b6847b60afe94b49","4476dcc8165b7926"]]},{"id":"6260fa70978b2704","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2a","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":240,"wires":[["7c3d30fadaef3c07"]]},{"id":"01dfb4bffb23b635","type":"split","z":"cb968ed4083f57d6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":460,"wires":[["2e0e9711fc59a7cb","8ef2511f7e702dcd","dd85032d90c961d5","ceb24187bc507083","dc2b2e678abc5905","3f4d54cc1419e2df","d00e56631fa2c852","606c9679a106ac23","640ccf37ef0c6516","a738901aca38dea7","54bb8e127f66e59f","0adee76f8d0ee6d3","6260fa70978b2704","85c5c2c503b3d903","593013da4f9ab7e3","07cd3dafe9f8c2b7"]]},{"id":"2e0e9711fc59a7cb","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2b","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":280,"wires":[["efe38388e8385f28"]]},{"id":"7c3d30fadaef3c07","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":240,"wires":[["722cd890be143c10"]]},{"id":"6982d9584193eceb","type":"ui_template","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","name":"Custom Styling","order":2,"width":0,"height":0,"format":"<style>\n.nr-dashboard-text.red{\n    background-color: red;\n}\n.nr-dashboard-text.orange{\n    background-color: orange;\n}\n.nr-dashboard-text.green{\n    background-color: green;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1780,"y":240,"wires":[[]]},{"id":"efe38388e8385f28","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":280,"wires":[["f0d72c1dc537befe"]]},{"id":"34c4c840fc321cce","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":320,"wires":[["befeebdd9bdb605f"]]},{"id":"f042ed73e54bc85b","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":360,"wires":[["8f31f7725bcbb983"]]},{"id":"ed0bd487fad2cd8b","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":400,"wires":[["3bd4eeb9795ea12c"]]},{"id":"4f02e8029faa4b33","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":440,"wires":[["c574034b58794b9b"]]},{"id":"afcd7a8fdc77b530","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":480,"wires":[["3fb47aa8b08375fd"]]},{"id":"f02911c75e5c16db","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":520,"wires":[["b77e36c8177bfe69"]]},{"id":"0707ea3db783155d","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":560,"wires":[["bb38b5fc0d5a7ae2"]]},{"id":"5afd0fc5de5dfe1e","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":600,"wires":[["8793529187e37dca"]]},{"id":"fda18a24e5900929","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":640,"wires":[["e660def3cfb7554e"]]},{"id":"b768f11f1e08a89a","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":680,"wires":[["d21d50318e303269"]]},{"id":"f08e0f4e1139f4a9","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":720,"wires":[["a52cbd564f14602d"]]},{"id":"8ef2511f7e702dcd","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2c","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":320,"wires":[["34c4c840fc321cce"]]},{"id":"dd85032d90c961d5","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2d","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":360,"wires":[["f042ed73e54bc85b"]]},{"id":"ceb24187bc507083","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2e","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":400,"wires":[["ed0bd487fad2cd8b"]]},{"id":"dc2b2e678abc5905","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2f","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":440,"wires":[["4f02e8029faa4b33"]]},{"id":"3f4d54cc1419e2df","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2g","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":480,"wires":[["afcd7a8fdc77b530"]]},{"id":"d00e56631fa2c852","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2h","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":520,"wires":[["f02911c75e5c16db"]]},{"id":"606c9679a106ac23","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2i","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":560,"wires":[["0707ea3db783155d"]]},{"id":"640ccf37ef0c6516","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2j","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":600,"wires":[["5afd0fc5de5dfe1e"]]},{"id":"a738901aca38dea7","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2k","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":640,"wires":[["fda18a24e5900929"]]},{"id":"54bb8e127f66e59f","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2l","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":680,"wires":[["b768f11f1e08a89a"]]},{"id":"0adee76f8d0ee6d3","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2m","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":720,"wires":[["f08e0f4e1139f4a9"]]},{"id":"bbb95dcb6eaf10c4","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2a","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":920,"wires":[["0ca51151c4af98f3"]]},{"id":"b2008f83b906fa89","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2b","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":960,"wires":[["130dd0e7b030c8da"]]},{"id":"0ca51151c4af98f3","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":920,"wires":[["deacbc1b2c2d4aad"]]},{"id":"130dd0e7b030c8da","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":960,"wires":[["7e9ef7ff0b0d6e93"]]},{"id":"79349a89666fba2c","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1000,"wires":[["5eb0246a6cdcb2c1"]]},{"id":"395c2a4428f4d6dd","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1040,"wires":[["84e58251cc151bc6"]]},{"id":"2ed5dcffb5d1df6b","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1080,"wires":[["58f5c6a410d018fe"]]},{"id":"d561aac131bb250a","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1120,"wires":[["e86a51243c933914"]]},{"id":"a1d4a5f70c5f901a","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1160,"wires":[["a0785a468cd8bb71"]]},{"id":"a51de80b1526dccb","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1200,"wires":[["34ec218ece5a3a82"]]},{"id":"0e3f72f29ad54a99","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1240,"wires":[["f251a5024005977f"]]},{"id":"96f1965d4a74af58","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1280,"wires":[["02d35101a2c4aca6"]]},{"id":"3104ed8d2579189a","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1320,"wires":[["7d0fc058ba351db6"]]},{"id":"a293ae4e7b24e6b6","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1360,"wires":[["f3f7eb417ed7fc74"]]},{"id":"7ba4a5df4940f2c6","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1400,"wires":[["0def3a57a034c461"]]},{"id":"98a9410146372b0d","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2c","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1000,"wires":[["79349a89666fba2c"]]},{"id":"ede8f4eca7d0507f","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2d","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1040,"wires":[["395c2a4428f4d6dd"]]},{"id":"db1189f248d85506","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2e","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1080,"wires":[["2ed5dcffb5d1df6b"]]},{"id":"fe3bdee802f1fb5a","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2f","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1120,"wires":[["d561aac131bb250a"]]},{"id":"971d944ac00bb7c3","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2g","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1160,"wires":[["a1d4a5f70c5f901a"]]},{"id":"cb9bf454b259ede0","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2h","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1200,"wires":[["a51de80b1526dccb"]]},{"id":"7beb1b0a627c736f","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2i","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1240,"wires":[["0e3f72f29ad54a99"]]},{"id":"8bd649830bfd0e2f","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2j","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1280,"wires":[["96f1965d4a74af58"]]},{"id":"693e908031041717","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2k","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1320,"wires":[["3104ed8d2579189a"]]},{"id":"fdeb16f6613a5ce1","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2l","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1360,"wires":[["a293ae4e7b24e6b6"]]},{"id":"a595d65209e5a48a","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2m","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1400,"wires":[["7ba4a5df4940f2c6"]]},{"id":"172d400f2adefe4c","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2a","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1600,"wires":[["685a22dcfd877443"]]},{"id":"a5f2a330e5bcb717","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2b","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1640,"wires":[["73faf7b9a5944be0"]]},{"id":"685a22dcfd877443","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1600,"wires":[["97fe5a77cf5f0244"]]},{"id":"73faf7b9a5944be0","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1640,"wires":[["d5abd6a0d177280c"]]},{"id":"b6cc034733c93f98","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1680,"wires":[["f6139ac9511643d7"]]},{"id":"7b95778310d8f94d","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1720,"wires":[["d17ef641e002de4c"]]},{"id":"1ab4c9607a37f899","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1760,"wires":[["8e5aa96ce744f5f7"]]},{"id":"86a2144398c27eaf","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1800,"wires":[["9c99e72e55e4ec93"]]},{"id":"29bfd054b528f5b7","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1840,"wires":[["8f5d6845ad42d471"]]},{"id":"4a94b6d0f4e29743","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1880,"wires":[["8dc0d3789027a3bc"]]},{"id":"c80b962a8fbcb569","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1920,"wires":[["2ab10855a08eb66d"]]},{"id":"7f165036ba9e0b9e","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1960,"wires":[["1b1640957aa932ba"]]},{"id":"aa280c8b969959c6","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":2000,"wires":[["09dfed34cb198919"]]},{"id":"68335717c69207e5","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":2040,"wires":[["6174c50a4c69a315"]]},{"id":"18cc38904083baff","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":2080,"wires":[["d46be6e487f79a52"]]},{"id":"3c7794c03eeb18f5","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2c","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1680,"wires":[["b6cc034733c93f98"]]},{"id":"ef907db060ad9888","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2d","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1720,"wires":[["7b95778310d8f94d"]]},{"id":"3a93601aa21e27c9","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2e","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1760,"wires":[["1ab4c9607a37f899"]]},{"id":"f1f2774a967e649c","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2f","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1800,"wires":[["86a2144398c27eaf"]]},{"id":"bd927f7070170650","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2g","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1840,"wires":[["29bfd054b528f5b7"]]},{"id":"3641fd4605ae9037","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2h","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1880,"wires":[["4a94b6d0f4e29743"]]},{"id":"aee3512e6deba961","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2i","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1920,"wires":[["c80b962a8fbcb569"]]},{"id":"102a3a1c78883aa5","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2j","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1960,"wires":[["7f165036ba9e0b9e"]]},{"id":"07402de479d81e3d","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2k","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":2000,"wires":[["aa280c8b969959c6"]]},{"id":"6cbc15ab460a6856","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2l","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":2040,"wires":[["68335717c69207e5"]]},{"id":"b3fd5506bb7fd15f","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"k2m","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":2080,"wires":[["18cc38904083baff"]]},{"id":"259efb05f597ad99","type":"ui_template","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","name":"Custom Styling","order":2,"width":0,"height":0,"format":"<style>\n.nr-dashboard-text.red{\n    background-color: red;\n}\n.nr-dashboard-text.orange{\n    background-color: orange;\n}\n.nr-dashboard-text.green{\n    background-color: green;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1980,"y":880,"wires":[[]]},{"id":"7ed0ce5cc6559a08","type":"ui_template","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","name":"Custom Styling","order":2,"width":0,"height":0,"format":"<style>\n.nr-dashboard-text.red{\n    background-color: red;\n}\n.nr-dashboard-text.orange{\n    background-color: orange;\n}\n.nr-dashboard-text.green{\n    background-color: green;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1860,"y":1580,"wires":[[]]},{"id":"bf223812376c32ca","type":"sqlite","z":"cb968ed4083f57d6","mydb":"ba326129284be148","sqlquery":"msg.topic","sql":"","name":"","x":650,"y":1040,"wires":[["5c8cc8f2676bd65d"]]},{"id":"b6847b60afe94b49","type":"template","z":"cb968ed4083f57d6","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from qsos where mode='cw';","output":"str","x":330,"y":1040,"wires":[["bf223812376c32ca"]]},{"id":"5c8cc8f2676bd65d","type":"split","z":"cb968ed4083f57d6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":1040,"wires":[["bbb95dcb6eaf10c4","b2008f83b906fa89","98a9410146372b0d","ede8f4eca7d0507f","db1189f248d85506","fe3bdee802f1fb5a","971d944ac00bb7c3","cb9bf454b259ede0","7beb1b0a627c736f","8bd649830bfd0e2f","693e908031041717","fdeb16f6613a5ce1","a595d65209e5a48a","be15fe555d13fcf5","0ea5d6f0f6de5076","c31b1bc825b581e7"]]},{"id":"b1e819f1748718ba","type":"sqlite","z":"cb968ed4083f57d6","mydb":"ba326129284be148","sqlquery":"msg.topic","sql":"","name":"","x":610,"y":1600,"wires":[["2112bf422f89e452"]]},{"id":"4476dcc8165b7926","type":"template","z":"cb968ed4083f57d6","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from qsos where mode='digital';","output":"str","x":330,"y":1600,"wires":[["b1e819f1748718ba"]]},{"id":"2112bf422f89e452","type":"split","z":"cb968ed4083f57d6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":1600,"wires":[["172d400f2adefe4c","a5f2a330e5bcb717","3c7794c03eeb18f5","ef907db060ad9888","3a93601aa21e27c9","f1f2774a967e649c","bd927f7070170650","3641fd4605ae9037","aee3512e6deba961","102a3a1c78883aa5","07402de479d81e3d","6cbc15ab460a6856","b3fd5506bb7fd15f","abe24af33f9075b7","bf86862dace999a3","ac23b7044d2b6a93"]]},{"id":"75ce1108c085f6da","type":"delay","z":"cb968ed4083f57d6","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":120,"y":840,"wires":[["8a00761baac11e4c","b6847b60afe94b49","4476dcc8165b7926"]]},{"id":"22144e992038a6f6","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":16,"width":4,"height":2,"name":"WM3 SSB","label":"<font size = 6> <bold>WM3PEN","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":760,"wires":[]},{"id":"e52d162e3bf7f3c6","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":17,"width":4,"height":2,"name":"GB13 SSB","label":"<font size = 6> <bold>GB13COL","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":800,"wires":[]},{"id":"f10b3ec947d4be93","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":760,"wires":[["22144e992038a6f6"]]},{"id":"85c5c2c503b3d903","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"wm3pen","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":760,"wires":[["f10b3ec947d4be93"]]},{"id":"e7b0e08d1d381269","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":800,"wires":[["e52d162e3bf7f3c6"]]},{"id":"593013da4f9ab7e3","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"gb13col","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":800,"wires":[["e7b0e08d1d381269"]]},{"id":"e45fbd2fea59ab16","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":16,"width":4,"height":2,"name":"WM3 CW","label":"<font size = 6> <bold>WM3PEN","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1440,"wires":[]},{"id":"8e23b004baeed4e1","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":17,"width":4,"height":2,"name":"GB13 CW","label":"<font size = 6> <bold>GB13COL","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1480,"wires":[]},{"id":"f04668abab486d04","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":16,"width":4,"height":2,"name":"WM3 Digital","label":"<font size = 6> <bold>WM3PEN","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":2120,"wires":[]},{"id":"d4b1da05250bb54c","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":17,"width":4,"height":2,"name":"GB13 Digital","label":"<font size = 6> <bold>GB13COL","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":2160,"wires":[]},{"id":"be15fe555d13fcf5","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"wm3pen","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1440,"wires":[["898f956808aec427"]]},{"id":"898f956808aec427","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1440,"wires":[["e45fbd2fea59ab16"]]},{"id":"0ea5d6f0f6de5076","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"gb13col","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1480,"wires":[["ed6530097734c9b9"]]},{"id":"ed6530097734c9b9","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1480,"wires":[["8e23b004baeed4e1"]]},{"id":"abe24af33f9075b7","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"wm3pen","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":2120,"wires":[["f8941bf7905dd6a8"]]},{"id":"f8941bf7905dd6a8","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":2120,"wires":[["f04668abab486d04"]]},{"id":"bf86862dace999a3","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"gb13col","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":2160,"wires":[["8a3047e67d669aeb"]]},{"id":"8a3047e67d669aeb","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":2160,"wires":[["d4b1da05250bb54c"]]},{"id":"85d6ac3bdb542731","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"call","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":80,"wires":[[]]},{"id":"9866a0aab9184e33","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"band","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":140,"wires":[[]]},{"id":"df5d9065c5f3a76b","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":200,"wires":[[]]},{"id":"b59b14b601a180a1","type":"function","z":"cb968ed4083f57d6","name":"","func":"msg.band = flow.get('band');\nmsg.call = flow.get('call');\nmsg.mode = flow.get('mode');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":280,"wires":[["5d1680162392def5"]]},{"id":"dfbb6dd9882f2ec6","type":"delay","z":"cb968ed4083f57d6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":140,"wires":[["f5e8a8f831d15e8f","ac65476cb587a1e7","7269c2134a05a8de"]]},{"id":"7f15e45130d5a6d2","type":"function","z":"cb968ed4083f57d6","name":"","func":"flow.set('band','');\nflow.set('call','');\nflow.set('mode','');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":160,"wires":[[]]},{"id":"f25d787ecf46c031","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":1,"width":0,"height":0,"name":"","label":"<font size = 6> <bold> CW","format":"{{msg.payload}}","layout":"row-center","className":"","x":1820,"y":280,"wires":[]},{"id":"78c2029fd323377a","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":1,"width":0,"height":0,"name":"","label":"<font size = 6> <bold> SSB","format":"{{msg.payload}}","layout":"row-center","className":"","x":2020,"y":920,"wires":[]},{"id":"c46a8e2431361838","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":1,"width":0,"height":0,"name":"","label":"<font size = 6> <bold> Digital","format":"{{msg.payload}}","layout":"row-center","className":"","x":1900,"y":1620,"wires":[]},{"id":"9c45935a38076184","type":"ui_button","z":"cb968ed4083f57d6","name":"","group":"ba324d1f5871753f","order":10,"width":0,"height":0,"passthru":false,"label":"Nuke Database","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":2080,"y":1080,"wires":[["9d197ef8532861f4","59acc935a3d00f44","aa6354af70695a7f"]]},{"id":"9d197ef8532861f4","type":"template","z":"cb968ed4083f57d6","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"delete from qsos;","output":"str","x":2520,"y":1080,"wires":[["a1dbfc3e75324534"]]},{"id":"a1dbfc3e75324534","type":"sqlite","z":"cb968ed4083f57d6","mydb":"ba326129284be148","sqlquery":"msg.topic","sql":"","name":"","x":2930,"y":1080,"wires":[[]]},{"id":"aa6354af70695a7f","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"null","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1260,"wires":[["722cd890be143c10","f0d72c1dc537befe","befeebdd9bdb605f","8f31f7725bcbb983","c574034b58794b9b","3fb47aa8b08375fd","b77e36c8177bfe69","bb38b5fc0d5a7ae2","8793529187e37dca","3bd4eeb9795ea12c","e660def3cfb7554e","d21d50318e303269","a52cbd564f14602d","22144e992038a6f6","e52d162e3bf7f3c6","deacbc1b2c2d4aad","7e9ef7ff0b0d6e93","5eb0246a6cdcb2c1","84e58251cc151bc6","58f5c6a410d018fe","e86a51243c933914","a0785a468cd8bb71","34ec218ece5a3a82","f251a5024005977f","02d35101a2c4aca6","7d0fc058ba351db6","f3f7eb417ed7fc74","0def3a57a034c461","e45fbd2fea59ab16","8e23b004baeed4e1","97fe5a77cf5f0244","d5abd6a0d177280c","f6139ac9511643d7","d17ef641e002de4c","8e5aa96ce744f5f7","9c99e72e55e4ec93","8f5d6845ad42d471","8dc0d3789027a3bc","2ab10855a08eb66d","1b1640957aa932ba","09dfed34cb198919","6174c50a4c69a315","d46be6e487f79a52","f04668abab486d04","ae32e3aad8bd0458","d3f2b28439501881","c4b25e773bf5f8a1","0ea5d6f0f6de5076","d4b1da05250bb54c"]]},{"id":"e6390616a44c0c7c","type":"comment","z":"cb968ed4083f57d6","name":"Database Schema","info":"CREATE TABLE IF NOT EXISTS qsos(\n  \"timestamp\" TEXT,\n  \"band\" TEXT,\n  \"mode\" TEXT,\n  \"call\" TEXT\n);\n","x":1290,"y":100,"wires":[]},{"id":"889f3afb.727b08","type":"tcp request","z":"cb968ed4083f57d6","name":"dxc.ve7cc.net:23","server":"dxc.ve7cc.net","port":"23","out":"sit","splitc":" ","x":730,"y":2400,"wires":[["23e4f57b.58550a"]]},{"id":"e9aa086f.82fcb8","type":"function","z":"cb968ed4083f57d6","name":"Send Call","func":"let login = flow.get('login')\n\nmsg.payload = login + '\\r\\n'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":2440,"wires":[["889f3afb.727b08"]]},{"id":"9cfcc2e5.79794","type":"comment","z":"cb968ed4083f57d6","name":"Skimmer + Human Entry","info":"","x":750,"y":2360,"wires":[]},{"id":"23e4f57b.58550a","type":"function","z":"cb968ed4083f57d6","name":"UTF8","func":"msg.payload=msg.payload.toString('UTF8');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":2400,"wires":[["ecca64a1.1c8098","b6ef7df6.47134"]]},{"id":"34950b6e.a2ef44","type":"function","z":"cb968ed4083f57d6","name":"Disconnect","func":"msg.payload = 'bye\\r\\n'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":2360,"wires":[["889f3afb.727b08"]]},{"id":"6634ff9d.73c56","type":"inject","z":"cb968ed4083f57d6","name":"Disconnect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2360,"wires":[["34950b6e.a2ef44"]]},{"id":"ecca64a1.1c8098","type":"switch","z":"cb968ed4083f57d6","name":"DX de","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"BEACON","vt":"str"},{"t":"cont","v":"NCDXF","vt":"str"},{"t":"regex","v":"DX de","vt":"str","case":false},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":4,"x":1090,"y":2400,"wires":[["26e56d12.445cf2"],["26e56d12.445cf2"],["ef5897ac51f0a515"],[]]},{"id":"ae09a9d.f0cd358","type":"inject","z":"cb968ed4083f57d6","name":"Connect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2440,"wires":[["e9aa086f.82fcb8","34c3234f.78734c"]]},{"id":"17f625e2.9d066a","type":"comment","z":"cb968ed4083f57d6","name":"CW Skim Raw Out","info":"","x":1470,"y":2340,"wires":[]},{"id":"34c3234f.78734c","type":"function","z":"cb968ed4083f57d6","name":"Send Call","func":"let login = flow.get('login')\n\nmsg.payload = login + '\\r\\n'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":2400,"wires":[["798e43a.ed27fbc","0e7919cc29e1dce5"]]},{"id":"798e43a.ed27fbc","type":"delay","z":"cb968ed4083f57d6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":520,"y":2400,"wires":[["889f3afb.727b08"]]},{"id":"9d5b9cdc.25218","type":"inject","z":"cb968ed4083f57d6","name":"KA Every 5 Mins","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":2320,"wires":[["e4fe7f1c.72e7f"]]},{"id":"e4fe7f1c.72e7f","type":"function","z":"cb968ed4083f57d6","name":"'\\r\\n' Inject","func":"\nlet status = flow.get('tcpstatus');\n\nif (status == \"green\")\n{\n    msg.payload = '\\r\\n'\n    return msg;\n}\nif (status == \"gray\" || status == null || status == undefined )\n{\n    //stop\n}\n\n// msg.payload = '\\r\\n'\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":2320,"wires":[["889f3afb.727b08"]]},{"id":"a60783f1.f9faa","type":"tcp request","z":"cb968ed4083f57d6","name":"dxc.nc7j.com:23","server":"dxc.nc7j.com","port":"23","out":"sit","splitc":" ","x":740,"y":2320,"wires":[[]]},{"id":"bf4e1a12.f546e8","type":"tcp request","z":"cb968ed4083f57d6","name":"w3lpl.net:7373","server":"w3lpl.net","port":"7373","out":"sit","splitc":" ","x":740,"y":2280,"wires":[[]]},{"id":"8720b90f.211a38","type":"ui_button","z":"cb968ed4083f57d6","name":"Connect RBN","group":"ba324d1f5871753f","order":8,"width":4,"height":1,"passthru":false,"label":"Connect Skimmer","tooltip":"Connect to Cluster","color":"","bgcolor":"Green","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":160,"y":2400,"wires":[["e9aa086f.82fcb8","34c3234f.78734c"]]},{"id":"ce1ea711.ef3458","type":"ui_table","z":"cb968ed4083f57d6","group":"ba324d1f5871753f","name":"CW Skimmer Spots","order":7,"width":6,"height":8,"columns":[{"field":"freq","title":"Freq","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"call","title":"Call","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"comment","title":"Comment","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":2030,"y":2380,"wires":[[]]},{"id":"f425f93f.1bedc8","type":"comment","z":"cb968ed4083f57d6","name":"Test Data","info":"","x":1030,"y":2260,"wires":[]},{"id":"8e3615b.43892e8","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":2420,"wires":[]},{"id":"b6ef7df6.47134","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":2320,"wires":[]},{"id":"26e56d12.445cf2","type":"debug","z":"cb968ed4083f57d6","name":"Contains BEACON","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":2300,"wires":[]},{"id":"bfeed6e593a4d2c6","type":"function","z":"cb968ed4083f57d6","name":"Table Format","func":"let spot = msg.payload\n\nlet freq = spot.freq;\nlet call = spot.call;\nlet comment = spot.comment;\nlet time = spot.time;\n\nif (\ncall == \"K2A\"||\ncall == \"K2B\"||\ncall == \"K2C\"||\ncall == \"K2D\"||\ncall == \"K2E\"||\ncall == \"K2F\"||\ncall == \"K2G\"||\ncall == \"K2H\"||\ncall == \"K2I\"||\ncall == \"K2J\"||\ncall == \"K2K\"||\ncall == \"K2L\"||\ncall == \"K2M\"||\ncall == \"WM3PEN\"||\ncall == \"GB13COL\"||\ncall == \"TM13COL\")\n{\n    \n    return {payload:{\n    command:\"addData\",\n    arguments:[\n        {\n            freq:freq,call:call,comment:comment,time:time\n        },\n        true\n    ],\n    returnPromise:true\n    }\n};\n}\n\n    \n    \n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":2380,"wires":[["ce1ea711.ef3458","47fdd0c8a2b7eb67","f7980430b0fe5395"]]},{"id":"ef5897ac51f0a515","type":"function","z":"cb968ed4083f57d6","name":"Format Spot","func":"let spot = msg.payload\n\nlet freqx = spot.substr(17,9);\nlet freq = freqx.trimRight();\nlet callx = spot.substr(26,8);\nlet call = callx.trimRight();\nlet comment = spot.substr(39,25);\nlet time = spot.substr(70,5);\nlet calllength = call.length;\n\n\nreturn {payload : {freq:freq,call:call,comment:comment,time:time,calllength:calllength}};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":2380,"wires":[["bfeed6e593a4d2c6","8e3615b.43892e8"]]},{"id":"47fdd0c8a2b7eb67","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1720,"y":2300,"wires":[]},{"id":"66547825d432eb62","type":"ui_form","z":"cb968ed4083f57d6","name":"","label":"","group":"ba324d1f5871753f","order":1,"width":0,"height":0,"options":[{"label":"Login","value":"login","type":"text","required":true,"rows":null}],"formValue":{"login":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":290,"y":2520,"wires":[["b0ee938b0828fd44","47f06a1fbb914468"]]},{"id":"b0ee938b0828fd44","type":"debug","z":"cb968ed4083f57d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":2640,"wires":[]},{"id":"47f06a1fbb914468","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"login","pt":"flow","to":"payload.login","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2520,"wires":[[]]},{"id":"0e7919cc29e1dce5","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":2160,"wires":[]},{"id":"5074bc118924e0f3","type":"ui_led","z":"cb968ed4083f57d6","order":9,"group":"ba324d1f5871753f","width":2,"height":1,"label":"","labelPlacement":"right","labelAlignment":"right","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1070,"y":2500,"wires":[]},{"id":"7df2ac72dbd7a118","type":"status","z":"cb968ed4083f57d6","name":"","scope":["889f3afb.727b08","a60783f1.f9faa","bf4e1a12.f546e8"],"x":740,"y":2500,"wires":[["1415ce5bb0d8ae15","8f04b0fcefe94603"]]},{"id":"1415ce5bb0d8ae15","type":"debug","z":"cb968ed4083f57d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":2540,"wires":[]},{"id":"8f04b0fcefe94603","type":"function","z":"cb968ed4083f57d6","name":"","func":"let status = msg.status.fill;\n\nflow.set('tcpstatus',status);\n\nif (status == \"green\")\n{\n    msg.payload = true;\n}\nif (status == \"gray\")\n{\n    msg.payload = false;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":2500,"wires":[["5074bc118924e0f3"]]},{"id":"ae32e3aad8bd0458","type":"ui_text","z":"cb968ed4083f57d6","group":"7d325b215ddd8f5c","order":18,"width":4,"height":2,"name":"TM13 SSB","label":"<font size = 6> <bold>TM13COL","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":840,"wires":[]},{"id":"93b76c80130446aa","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":840,"wires":[["ae32e3aad8bd0458"]]},{"id":"07cd3dafe9f8c2b7","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"tm13col","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":840,"wires":[["93b76c80130446aa"]]},{"id":"d3f2b28439501881","type":"ui_text","z":"cb968ed4083f57d6","group":"d565615ae1af3c4c","order":18,"width":4,"height":2,"name":"TM13 CW","label":"<font size = 6> <bold>TM13COL","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1600,"y":1520,"wires":[]},{"id":"c31b1bc825b581e7","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"tm13col","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":1520,"wires":[["87ec112e798bed28"]]},{"id":"87ec112e798bed28","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1520,"wires":[["d3f2b28439501881"]]},{"id":"c4b25e773bf5f8a1","type":"ui_text","z":"cb968ed4083f57d6","group":"58ac13e75dbf4603","order":18,"width":4,"height":2,"name":"TM13 Digital","label":"<font size = 6> <bold>TM13COL","format":"<center> {{msg.payload.band}}<br> {{msg.payload.timestamp}} {{msg.status}}","layout":"col-center","className":"","x":1610,"y":2200,"wires":[]},{"id":"ac23b7044d2b6a93","type":"switch","z":"cb968ed4083f57d6","name":"","property":"payload.call","propertyType":"msg","rules":[{"t":"eq","v":"tm13col","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":2200,"wires":[["874dbf925852c44e"]]},{"id":"874dbf925852c44e","type":"change","z":"cb968ed4083f57d6","name":"","rules":[{"t":"set","p":"className","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":2200,"wires":[["c4b25e773bf5f8a1"]]},{"id":"12d5a1bd5b5d8ea6","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":2800,"wires":[]},{"id":"e0a28f776a4d946f","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":2900,"wires":[]},{"id":"ab3c645f6be4b9a7","type":"switch","z":"cb968ed4083f57d6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dxs","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":2840,"wires":[["d2477c90b20668a9","c9d79da71cfa50f5"]]},{"id":"d2477c90b20668a9","type":"function","z":"cb968ed4083f57d6","name":"Format Spot","func":"let spot = msg.payload\n\nlet freqx = spot.substr(17,7);\nlet freq = freqx.trimRight();\nlet callx = spot.substr(25,8);\nlet call = callx.trimRight();\nlet comment = spot.substr(37,25);\nlet time = spot.substr(67,5) + 'Z'\nlet calllength = call.length;\n\n\nreturn {payload : {freq:freq,call:call,comment:comment,time:time,calllength:calllength}};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":2840,"wires":[["0792c5a36cd23a16","bfeed6e593a4d2c6"]]},{"id":"0792c5a36cd23a16","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":2840,"wires":[]},{"id":"ef9de92336059587","type":"ui_template","z":"cb968ed4083f57d6","group":"","name":"css","order":2,"width":0,"height":0,"format":"<style>\n/* unvisited link */\na:link {\n  color: white;\n    text-decoration: none;\n    vertical-align: bottom;\n}\n\n/* visited link */\na:visited {\n  color: white;\n    text-decoration: none;\n    vertical-align: bottom;    \n}\n\n/* mouse over link */\na:hover {\n  color: white;\n    text-decoration: none;\n        vertical-align: bottom;\n}\n\n/* selected link */\na:active {\n  color: white;\n    text-decoration: none;\n        vertical-align: bottom;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":1470,"y":60,"wires":[[]]},{"id":"e2da7485a3f6d01c","type":"ui_template","z":"cb968ed4083f57d6","group":"6a0a65b16ca096a6","name":"Master style override","order":3,"width":0,"height":0,"format":"<style>\nbody.nr-dashboard-theme {\n background-color: #333333;\n font-family: Calibri;\n}\nbutton { \n  width: 50px; \n  color: #d0d0d0;\n  /*box-shadow: 2px 2px 2px rgba(0,0, 0, 0.4);*/\n  /*border-radius: 1px;*/\n  /*transform: scale(1.0);*/\n  background-color: #707070;\n  background-image: linear-gradient(to bottom right, #8a8a8a6e, #00000070);\n\n}\nbutton, html, input, select, textarea {\n font-family: Calibri;\n}\nbody.nr-dashboard-theme md-content md-card {\n /*background-color: #33333300;*/\n color: #d0d0d0;\n}\n\n/* Set header background style */\nbody.remove.nr-dashboard-theme md-toolbar {\n background-image: linear-gradient(to right,#8a8a8a6e, #00000070);\n box-shadow: 0px 1px 20px #0000008a;\n}\n/* Set groups background style */\n.remove.nr-dashboard-theme ui-card-panel {\n background-image: linear-gradient(to bottom right, #8a8a8a6e, #00000070);\n border: 1px solid #555555;\n box-shadow: 0 0 20px #00000066;\n}\n\n/* Set group titles text */\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n color: #2eb82e;\n text-shadow: 0 0 2px black;\n}\n\n.nr-dashboard-theme .nr-dashboard-form-button {\n background-image: linear-gradient(to bottom right,  #8a8a8a6e, #00000070);\n background-color: #00ad03;\n color: #d0d0d0;\n text-shadow: 0 0 2px #525252;\n border-radius:6px;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n background-image: linear-gradient(to bottom right,  #8a8a8a6e, #00000070);\n background-color: #707070;\n color: #d0d0d0;\n text-shadow: 0 0 2px #525252;\n border-radius:6px;\n}\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n background-color: #00de00;\n}\n\n.nr-dashboard-theme .nr-dashboard-switch md-switch .md-thumb {\n background-image: linear-gradient(to bottom right, #8a8a8a6e, #00000070);\n}\n.nr-dashboard-button .md-button {\n box-shadow: 0 1px 3px 0 rgba(0,0,0,.26)!important;\n width: 100%!important;\n height: 100%!important;\n margin: 0!important;\n min-width: 0!important;\n min-height: 0!important;\n}\n.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n background-image: linear-gradient(to bottom right, #8a8a8a6e, #00000070);\n border-style: none;\n}\n.nr-dashboard-theme .nr-dashboard-numeric .value {\n background-color: #33333300;\n color:#d0d0d0;\n}\n\n.nr-dashboard-numeric .value {\n font-weight: 700;\n text-align: center;\n border: 0;\n}\n\n\n.nr-dashboard-form {\n display: inline-block;\n width: 100%;\n overflow-y: visible;\n}\n#SETTINGS_TEATED_cards {\n min-height: 260px;\n}\n\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":1080,"y":60,"wires":[[]]},{"id":"afa4762d77e37750","type":"ui_template","z":"cb968ed4083f57d6","group":"","name":"button template","order":10,"width":8,"height":6,"format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n\n}\n \n   .bigfont {\n  font-size: 18px;\n  color: white;\n}\n\n   .smallfont {\n  font-size: 12px;\n  color: white;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":1300,"y":60,"wires":[[]]},{"id":"4c3958c4f1828049","type":"inject","z":"cb968ed4083f57d6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2450,"y":1180,"wires":[["9d197ef8532861f4"]]},{"id":"4d6f731a.a8104c","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2450,"y":2260,"wires":[]},{"id":"8e54f2fc.9c692","type":"tcp out","z":"cb968ed4083f57d6","name":"Telnet Out:7300","host":"","port":"7300","beserver":"server","base64":false,"end":false,"x":2460,"y":2200,"wires":[]},{"id":"f7980430b0fe5395","type":"function","z":"cb968ed4083f57d6","name":"Telnet 7300 Out Format","func":"\nconst d = new Date();\nlet x = d.getUTCHours();\nlet h = String(x).padStart(2,'0')\nlet y = d.getMinutes();\nlet m = String(y).padStart(2,'0')\n\nlet utc = h + m + \"Z\"\n\n// freq:freq,call:call,comment:comment,time:time,calllength:calllength\n//payload.arguments[0].freq\n\nlet freq = msg.payload.arguments[0].freq\nfreq = parseInt(freq)\nfreq = freq.toFixed(1)\nfreq = freq.padStart(14)\nlet call = msg.payload.arguments[0].call.padEnd(13)\n//let state = msg.payload.locationDesc.substring(0,5)\nlet comment1 = msg.payload.arguments[0].comment.substring(0,20)\nlet comment = comment1.padEnd(23)\n\nmsg.payload = 'DX de P0TA:' + freq +'  '+ call + ' ' + comment + utc +'\\r\\n';\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":2200,"wires":[["a73b045d704a249e"]]},{"id":"74fbbd26cacdb943","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2010,"y":2160,"wires":[]},{"id":"a73b045d704a249e","type":"delay","z":"cb968ed4083f57d6","name":"","pauseType":"rate","timeout":"500","timeoutUnits":"milliseconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2250,"y":2200,"wires":[["8e54f2fc.9c692","4d6f731a.a8104c"]]},{"id":"7be3a1bb804717d3","type":"comment","z":"cb968ed4083f57d6","name":"To Do","info":"In the dashboard, if the 1x1 is spotted and you have not logged it, it puts the frequency + band in the box under the call sign in the propper mode.\n\nSpots are only good for 30 mins\n\nGet green status led working for telnet and IRC\n\nList left to work in a table on the right hand side\n","x":140,"y":240,"wires":[]},{"id":"378b988599ba836e","type":"irc in","z":"cb968ed4083f57d6","name":"","ircserver":"16bbf3ac76d2a1f0","channel":"#CQDX","x":330,"y":2840,"wires":[["ab3c645f6be4b9a7"],[]]},{"id":"c9d79da71cfa50f5","type":"debug","z":"cb968ed4083f57d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":2740,"wires":[]},{"id":"a3de726416121fc1","type":"ui_button","z":"cb968ed4083f57d6","name":"","group":"ba324d1f5871753f","order":11,"width":0,"height":0,"passthru":false,"label":"Create Database","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":2090,"y":1020,"wires":[["b06dfef6b93d31c2"]]},{"id":"b06dfef6b93d31c2","type":"template","z":"cb968ed4083f57d6","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE IF NOT EXISTS qsos(   \"timestamp\" TEXT,   \"band\" TEXT,   \"mode\" TEXT,   \"call\" TEXT );","output":"str","x":2520,"y":1020,"wires":[["a1dbfc3e75324534"]]},{"id":"0fcafe73c00bfce8","type":"inject","z":"cb968ed4083f57d6","name":"","props":[{"p":"status.fill","v":"gray","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":730,"y":2460,"wires":[["8f04b0fcefe94603"]]},{"id":"434ae31ed336695e","type":"debug","z":"cb968ed4083f57d6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2180,"y":1420,"wires":[]},{"id":"d565615ae1af3c4c","type":"ui_group","name":"CW","tab":"d3a5d8d3f2e14b98","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"7d325b215ddd8f5c","type":"ui_group","name":"SSB","tab":"d3a5d8d3f2e14b98","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"58ac13e75dbf4603","type":"ui_group","name":"Digital","tab":"d3a5d8d3f2e14b98","order":4,"disp":true,"width":"8","collapse":false,"className":""},{"id":"ba324d1f5871753f","type":"ui_group","name":"Log Entry Window","tab":"d3a5d8d3f2e14b98","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"ba326129284be148","type":"sqlitedb","db":"13colonies","mode":"RWC"},{"id":"6a0a65b16ca096a6","type":"ui_group","name":"Terminal","tab":"bf80c502bd984a07","order":2,"disp":true,"width":"14","collapse":true,"className":""},{"id":"16bbf3ac76d2a1f0","type":"irc-server","server":"irc.radiochat.org","port":"6667","ssl":false,"cert":false,"nickname":"aa0z"},{"id":"d3a5d8d3f2e14b98","type":"ui_tab","name":"13 Colonies","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bf80c502bd984a07","type":"ui_tab","name":"Cluster Control","icon":"dashboard","order":11,"disabled":false,"hidden":false}]